@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

.arabic.text-4xl{
        line-height: 4.5rem;

}
.bangla{
    font-family: 'Mina', sans-serif;
}

 .scroll-bar::-webkit-scrollbar {
     width: 5px;
}
.scroll-bar::-webkit-scrollbar-track {
     box-shadow: inset 0 0 0px transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgb(212, 201, 101);
    outline: 0px solid yellow;
}

